* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #1a1a1a;
    --text-color: #ffffff;
    --accent-color: #00d4ff;
}

html, body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    user-select: none;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
}

.nav-links li {
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    transition: 0.3s;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    display: block;
}

.nav-links li:hover {
    background-color: var(--accent-color);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 212, 255, 0.3);;
}
.nav-links li:active {
    transform: scale(0.7);
}
.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 10px 20px;
    }

    .menu-icon {
        display: block; 
    }

    .nav-links {
        position: absolute;
        top: 60px; 
        right: -100%; 
        width: 100%;
        height: 100vh;
        background-color: var(--background-color);
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 40px;
        transition: 0.4s ease; 
        gap: 10px;
    }

    .nav-links.active {
        right: 0; 
    }

    .nav-links li {
        width: 90%;
        text-align: center;
    }
}