* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {
height: 100%;
font-family: Arial, sans-serif;
}

:root{
  --primary-color: #3B82F6;
  --secondary-color: #2563EB;
  --background-color: #1E293B;
  --text-color: #F8FAFC;
}


body{
  background-color: #0F172A;
  color: #F8FAFC;
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  display: none;
}

@media (max-width: 768px){
  body{
    overflow-x: hidden;
  }
}
@media (max-width: 480px){
  body{
    overflow-x: hidden;
  }
}